body{
    background-color: ghostwhite;
    margin: 20px 100px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 20px;
}
hr{
    border-style: dotted none none none;
    border-color: silver;
    border-width: 8px;
    width: 8%;
}
h1{
    color: #36454F;
}
h2{
    color: #36454F;
}
h3{
    color: #36454F;
}
